body {
    background: url(https://raw.githubusercontent.com/nbungriano/survey-form/main/race.jpg) no-repeat center center/cover;
    height: 100%;
    font-family: sans-serif;
}

#title, #description {
    text-align: center;
}

#survey-form {
    background:rgba(0,0,0,0.6);
    padding:50px;
}

#container {
   color: white;
   max-width: 500px;
   margin: auto;
   align-items: center;
}

#name {
    width: 75%;
    margin-top: 1em;
    padding: 5px;
    margin-left: 1.8em;
}


#email {
    width: 75%;
    margin-top: 1em;
    padding: 5px;
    margin-left: 2em;
}

#dropdown {
    width: 75%;
    padding:5px;
}

#number {
    margin-top: 1em;
    margin-left: 2.8em;
}

#comments {
    width: 100%;
    padding-bottom: 60px;
}

#submit {
    width: 30.5em;
}

@media screen and (max-width: 600px) {
    #container, body {
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 600px) {
    #submit {
      width: 100%;
      margin-top: 0;
    }
  }
